<launch>
	<rosparam file="$(find cyton_gamma_300_controllers)/cyton_gamma_300_controller.yaml" command="load"/>

	<node name="one_cyton_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=cyton_manager --port port_0 --type=simple
        joint1_position_controller
        joint2_position_controller
        joint3_position_controller
        joint4_position_controller
        joint5_position_controller
        joint7_position_controller
        joint6_position_controller
		"
		output="screen"/>

	  <node name="one_cyton_action_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=cyton_manager --type=meta cyton_joint_trajectory_action_controller
        joint1_position_controller
        joint2_position_controller
        joint3_position_controller
        joint4_position_controller
        joint5_position_controller
        joint7_position_controller
        joint6_position_controller
		"
		output="screen"/>

	<rosparam file="$(find cyton_gamma_300_controllers)/gripper_controller.yaml" command="load"/>

	<node name="another_cyton_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=cyton_manager --port port_0 --type=simple
		gripper_position_controller
		"
		output="screen"/>

	  <node name="another_cyton_action_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=cyton_manager --type=meta 
		gripper_position_controller
		"
		output="screen"/>
</launch>

        <!-- gripper_position_controller from both-->
